
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="connection.css">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <title>Connection</title>
</head>
<body>
{% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
<div class="proto-container">
    <div class="proto"></div>
    <div class="proto"></div>
    <div class="proto"></div>
    <div class="proto"></div>
</div>

<div class="container">
    <div class="inner">
        <div class="left">
            <div col-6>
                <img class="logo" src="{{ asset("images/logos/mamLogo.svg") }}" alt="CompleteUI Logo" >
                <a href="{{ path("mainPage") }}"><img id="exit"src="{{ asset("/images/logos/exitLogo.png") }}" alt="exit"></a>
            </div>

            <div class="content">
                <h1> <span align="center">Bienvenue</span></h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex doloribus exercitationem, illum explicabo labore aliquid provident maiores nobis voluptates voluptatem. Quo tempore tempora sit natus sequi, quos dicta nihil assumenda?</p>
                <p class="light">CompleteUI is releasing before 2020 on Udemy & other networks.</p>
            </div>
        </div>
        <div class="right">

            <div class="inside">
                <p id="log"  >Inscription</p>
                <div>
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.telephone, {
                        label: 'Telephone'
                    }) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}



                    <button type="submit" class="btn">s'inscrire</button>
                    {{ form_end(registrationForm) }}

                </div>
            </div>

        </div>
    </div>
</div>
<script>
    let left = document.querySelector('.left');
    let content = document.querySelector('.content');
    let protos = document.querySelectorAll('.proto');

    left.addEventListener('mousemove', (event) => {
        let move = (event.clientX * 0.05) + 4;
        let move2 = (event.clientX * 0.003);
        content.style.transform = `translateX(-${move2}%)`;

        protos.forEach((proto) => {
            proto.style.transform = `translateX(${move}%)`;
        })
    })
</script>
</body>
</html>




<!DOCTYPE html>

<title>Register</title>

{% block body %}





{% endblock %}














